<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog Title:</label><br />
        <input type="text" name="title" id="title" required /><br />
        <label for="snippet">Blog Snippet:</label><br />
        <input type="text" name="snippet" id="snippet" required /><br />
        <label for="body">Blog Body:</label><br />
        <textarea name="body" id="body" cols="30" rows="10" required></textarea
        ><br />
        <button>Submit</button>
      </form>
    </div>
  </body>
  <script>
    const bTitle = document.querySelector("#title").value.toUpperCase();
  </script>
  <%- include('../partials/footer.ejs')%>
</html>
