<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsam
        hic natus, dicta fugit minima laborum culpa excepturi harum at aperiam,
        est in eveniet modi rerum, eum eius ad pariatur!
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsam
        hic natus, dicta fugit minima laborum culpa excepturi harum at aperiam,
        est in eveniet modi rerum, eum eius ad pariatur!
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
