
    @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap");
    body {
      margin: 0 auto;
      background-color: #fff;
      font-family: "Noto Serif", serif;
    }
    .blog-post a{
      display: block;
      border-left: 5px solid rebeccapurple;
      
      padding-left: 30px;
      
    }
   .blog-post a:hover{
      box-shadow:0 0 5px rgba(0,0,0,0.9);
      transition: all 0.3s ease-in-out;
   }
    .blog-post a:hover h2{
      color: crimson;
    }
    .about{
      display: flex;
      justify-content: space-between;
     
      padding: 10px;
    
    }
    .about p{
      border: 2px solid coral;
      margin: 15px;
    }
    .details{
      position: relative;
      border-left: 5px solid crimson;
      margin: 15px auto;
    }
    .details h2{
      margin-left: 15px;
    }
    .delete{
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 10px;
      border-radius: 50%;
      padding: 8px;
      text-align: center;
      margin: 30px auto;
      
      color: antiquewhite;

    }
    .delete:hover{
     cursor: pointer;
     box-shadow: 1px 2px 3px rgba(0,0,0,0.9);
    }
    .blog-post label,
    .blog-post h2,
    .blog-post p{
      margin-left: 15px;
      color:#777;
    }
    .site-title {
      padding: 5px;
    }
    .content {
      margin-left: 20px;
    }
    .create-blog {

      max-width: 400px;
      border: 2px solid #222;
      margin: 20px auto;
    }
    .create-blog #title{
      text-transform: uppercase;
    }
    .create-blog input {
      border: 1px solid gray;
      width: 80%;
      height: 30px;
      border-radius: 2px;
    }
    .create-blog textarea {
      width: 80%;
      border: 1px solid gray;
      border-radius: 2px;
    }
    .create-blog button {
      width: 70px;
      border-radius: 8px;
      height: 50px;
      margin: 8px 0;
      cursor: pointer;
      padding: 3px;
      background-color: red;
      color: antiquewhite;
    }
    ul,
    a {
      text-decoration: none;
    }
    nav {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #222;
      align-items: center;
      transition:all 5s;
      height: 200px;
      width: 100%;
    }
  
    nav ul {
      display: flex;
      justify-content: space-between;
      margin: 5px;
    }
    nav li {
      list-style: none;
      margin: 0 20px;
      text-transform: uppercase;
    }
    nav h1 {
      font-size: 3em;
      color: #777;
    }
    nav p,
    nav a {
      color: #777;
      font-weight: 300;
    }
    footer {
      width: 100%;
      text-align: center;
      margin-top: 70px;
      color: #777;
    }
    nav .open,.menus i{
      display: none;
    }
    @media screen and (max-width:600px){
      .menus {
        display: fixed;
        top: 0;
        right: -100%;
        position: absolute;
        background-color: rgba(25, 25, 25,0.9);
        height: 100vh;
        color: antiquewhite;
        padding-top: 20px;
        width: 200px;
        text-align: center;
        z-index: 100;
        transition: all 1.5s ease;
       
       
      }
     nav.active .menus{
      right: -0%;
     }
      nav .menus ul{
      
        
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        align-items: center;
        justify-content: center;
      }
     .menus ul li{
      padding: 10px;
      width: 100%;
      
     }
     
      .menus ul li:hover{
        background-color: antiquewhite;
        color: #222;
        width: 100%;
      }
      .menus i{
        
        
        display: block;
        color: #fff;
        width: 40px;
        height: 40px;
        font-size: 2.5em;
        cursor: pointer;
        
      }
      .menus i:hover{
        background-color: antiquewhite;
        color: #222;
      }
      nav .open{
        cursor: pointer;
        display: block;
        font-size: 2.5em;
        color: #222;
        
      }
      /* nav a[class='menu']{
        visibility: hidden;
      } */
      .site-title{
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
  
    
    
    

    
    }
  